* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Poppins;
    background: lightgray;
}

/********************************
General
********************************/
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display';
}

h2 {
    font-size: 6rem;
    letter-spacing: 0.2rem;
}

h3 {
    color: #ff8800;
    font-family: Poppins;
    font-size: 2rem;
}

body {
    position: relative;
}

.btn {
    background:  #FF6F00;
    color: white;
    height: 100%;
    padding: 0 1rem;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.2s;
}

.btn:hover {
    background: #ffaa4d;
}

a:hover,
.btn:hover {
    cursor: pointer;
}

/********************************
Styles
********************************/

/********** Nav ************/


.header {
    background: white;
    /* padding: 0.5rem 10rem; */
    position: sticky;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1000;
    clear: both;
}

.logo {
    width: 15rem;
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}


.nav {
    width: 100%;
    position: fixed;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
}


/* .menu {
    display: flex;
} */


.menu a {
    font-size: 1.8rem;
    transition: color 0.1s;
    display: block;
    text-align: center;
    line-height: 1.8;
}
    
    .menu a:hover {
        color:  #FF6F00;
    }

    .nav__item:last-child {
        margin-bottom: 1.2rem;
    }





/*******************************************
Hamburger
********************************************/

.hamburger {
    cursor: pointer;
    float: right;
    padding: 20px 20px;
}

.hamburger-bar {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

    .hamburger-bar::after,
    .hamburger-bar::before {
        background: black;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .hamburger-bar::before {
        top: 5px;
    }

    .hamburger-bar::after {
        top: -5px;
    }

.hamburger-toggle {
    display: none;
}

/* Hamburger Toggle */

.hamburger-toggle:checked ~ .nav{
    max-height: 100%;
    transition: max-height 0.5s ease-in-out;
}

.hamburger-toggle:checked ~ .hamburger .hamburger-bar {
    background: transparent;
}
.hamburger-toggle:checked ~ 
    .hamburger 
    .hamburger-bar::before {
        transform: rotate(-45deg);
        top:0;
}

.hamburger-toggle:checked ~ .hamburger .hamburger-bar::after {
    transform: rotate(45deg);
    top:0;
}


/****** Media Query *************/
@media (min-width: 768px) {
    
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav {
        max-height: 100%;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu {
        display: flex;
        width: 100%;
        margin-right: 20px;
        align-items: center;
    }

    .nav__item {
        margin-left: 2rem;
    }

        .nav__item:last-child {
            margin-bottom: 0;
        }

    .hamburger {
        display: none;
    }

}

@media (min-width: 1024px) {

    .header-container {
        padding: 0 1rem;
    }

    .nav__item {
        margin-left: 3rem;
    }
}


@media (min-width: 1440px) {

    .header-container {
        padding: 0 4rem;
    }

    .nav__item {
        margin-left: 5rem;
    }
}


/*********************************
Hero 
*********************************/

h1 {
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
}


.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/_responsive/hero/hero_mqiui5_c_scale_w_520.webp);
    background-repeat: no-repeat;
    /* background-position: bottom ; */
    background-size: cover;
    width: 100%;   
    height: 50rem;
    padding: 4rem 3rem;
}


.search-container {
    margin: 1rem 0;
    height: 3.5rem;
    width: 20rem;
    
}

.search {
    height: 100%;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: 1px solid lightgray;
}

    .search:focus {
        border: 1px solid #ffaa4d;
    }


.btn.location {
    width: 100%;
    height: 3rem;
    margin-top: 1rem;
}

.sns-count {
    display: flex;
    margin-top: 5rem;
    justify-content: center;
    width: 100%;

}

    .sns-count li {
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
    }

    .sns-count i {
        color: #ff8800;
        font-size: 1.8rem;
        padding: 0 0.5rem;
    }

    .sns-count h4 {
        font-size: 1rem;
        font-weight: 500;
    }



@media (min-width: 425px) {

    h1 {
        text-align: left;
    }

    .hero-container {
        align-items: flex-start;
    }

    .btn.location {
        margin-top: 0;
        border-radius: 0;
    }

    .sns-count {
        justify-content: flex-start;
    }

        .sns-count li:first-of-type {
            padding-left: 0;
        }
}

@media (min-width: 521px) {

    .hero-container {
        background-image: url(img/_responsive/hero/hero_mqiui5_c_scale\,w_768.webp);
        background-position: right;
    }
}


@media (min-width: 600px) {
    .search-container {
        display: flex; */
        box-shadow: 0px 10px 15px 3px rgba(0,0,0,0.2);
        height: 3rem;
        width: 25rem;
    }
    
    .search {
        border-radius: 5px 0 0 5px;
    }

    .btn.location {
        width: auto;
        height: 100%;
        border-radius: 0 5px 5px 0;
    }

    .sns-count {
        margin-top: 1rem;
    }
}


@media (min-width: 768px) {

    h1 {
        font-size: 3.5rem;
    }

    .hero-container {
        background-image: url(/img/_responsive/hero/hero_mqiui5_c_scale\,w_1296.webp);
        height: 35rem;
    }

    .search-container {
        width: 35rem;
    }
}


@media (min-width: 1024px) {

    h1 {
        font-size: 4.5rem;
    }

    .hero-container {
        background-image: url(/img/_responsive/hero/hero_mqiui5_c_scale\,w_1946.webp);
        height: 40rem;
    }

    .search-container {
        width: 40rem;
        height: 3.5rem;
    }

    .btn.location {
        padding: 0 2rem;
    }

    .sns-count i {
        font-size: 2rem;
        padding: 0 0.8rem;
    }

    .sns-count h4 {
        font-size: 1.3rem;
    }
}


@media (min-width: 1180px) {

    h1 {
        font-size: 6rem;
    }

    .hero-container {
        height: 50rem;
        padding: 4rem 8rem;
    }

    .search-container {
        width: 45rem;
        height: 4rem;
        margin: 2rem 0;
    }

    .btn.location {
        padding: 0 2.5rem;
    }

    .sns-count i {
        font-size: 2rem;
        padding: 0 1rem;
    }

    .sns-count h4 {
        font-size: 1.5rem;
    }
}


@media (min-width: 1440px) {

    h1 {
        font-size: 8rem;
    }

    .hero-container {
        height: 95rem;
        padding: 0 10rem;
        background-image: url(img/_responsive/hero/hero_mqiui5_c_scale\,w_2414.webp);
        background-position: bottom;
    }

    .search-container {
        width: 60rem;
        height: 5rem;
        margin: 2.5rem 0;
    }

    .search::placeholder {
        font-size: 1.5rem;
        padding-left: 1rem;
    }

    .btn.location {
        padding: 0 3.5rem;
        font-size: 2rem;
    }

    .sns-count i {
        font-size: 3rem;
        padding: 0 1rem;
    }

    .sns-count h4 {
        font-size: 2rem;
    }
}



/****************************************/

/********** About Us ************/

#about-us {
    display: flex;
    flex-direction: column;
}

.image-wrapper {
    height: 40rem;
    width: 100%;
    min-height: 100%;
}

.image-wrapper img {
    width: 100%;
    object-fit: cover;
    max-height: 40rem;
}

.about-us-content {
    padding: 5rem 3rem;
    background: rgb(255,255,255);
    background: linear-gradient(133deg, rgba(255,255,255,1) 51%, rgba(242,244,244,1) 78%);
    height: auto;
    text-align: center;
}


    .about-us-content h3 {
        font-size: 1.8rem;
    }

    .about-us-content h2 {
        display: none;
    }


    .about-us-content p {
        font-size: 1.1rem;
        width: 100%;
        margin: 2rem 0;
        line-height: 1.5;
        text-align: justify;
    }

    .about-us-content .btn {
        padding: 1.5rem 2.8rem;
        margin-top: 1rem;
    }




/****************************************/

@media (min-width: 375px) {
    .about-us-content h3 {
        font-size: 2rem;
    }

    .about-us-content p {
        font-size: 1.2rem;
        margin: 2.5rem 0;
        line-height: 1.8;
    }

    .about-us-content .btn {
        margin-top: 1.5rem;
    }
}

@media (min-width: 521px) {

    .about-us-content {
        padding: 5.5rem 4rem;
    }

    .about-us-content p {
        font-size: 1.3rem;
    }

    .about-us-content .btn {
        margin-top: 1.5rem;
        font-size: 1.5rem;
    }
}


@media (min-width: 768px) {

    #about-us {
        flex-direction: row;
        height: auto;
    }
    
        .image-wrapper {
            flex: 0 0 30%;
            display: flex;
            height: auto;
        }
        
        .image-wrapper img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            max-height: 100%;
        }
    
    
    .article-wrapper {
        width: 70%;
        height: auto;
    }
    

    .about-us-content {
        text-align: left;
        padding: 4.5rem 5rem 4.5rem 4rem;
        height: 100%;
    }

        .about-us-content h3 {
            font-size: 1.5rem;
        }

        .about-us-content p {
            font-size: 1.1rem;
            margin: 1.5rem 0;
        }

        .about-us-content .btn {
            font-size: 1.2rem;
            padding: 1rem 2rem;
            height: auto;
        }        
}


@media (min-width: 905px) {
    .about-us-content {
        padding: 5rem 6rem 4.5rem 4rem;
    }

        .about-us-content h3 {
            font-size: 1.2rem;
        }

        .about-us-content .btn {
            padding: 1.3rem 2.2rem;
        }        
}



@media (min-width: 1024px) {

    .about-us-content {
        padding: 6rem 7rem 5rem 5rem;
    }

    .about-us-content h3 {
        font-size: 1.3rem;
    }

    .about-us-content p {
        margin-top: 2rem;
        line-height: 1.8;
        letter-spacing: 0.05rem;
    }

    .about-us-content .btn {
        padding: 1.3rem 2.2rem;
    }        
}


@media (min-width: 1115px) {

    .about-us-content {
        padding: 6rem 5rem;
    }

    .about-us-content h3 {
        font-size: 1.5rem;
    }

    .about-us-content p {
        font-size: 1.3rem;
    }

    .about-us-content .btn {
        padding: 1.5rem 2.5rem;
    }        
}


@media (min-width: 1140px) {

    .about-us-content {
        padding: 6rem 5rem;
    }

    .about-us-content h3 {
        font-size: 1.5rem;
    }
     
}


@media (min-width: 1180px) {

    .about-us-content {
        padding: 6.2rem 5.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .about-us-content p {
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .about-us-content .btn {
        width: 15rem;
        margin-top: 3rem;
    }        
}


@media (min-width: 1195px) {

    .about-us-content {
        padding: 6.5rem 10rem 6.5rem 6rem;
    }

    .about-us-content h3 {
        font-size: 1.55rem;
    }

    .about-us-content .btn {
        padding: 1.7rem 2.5rem;
        width: 16rem;
        margin-top: 3.5rem;
    }        
}



@media (min-width: 1305px) {

    .about-us-content h3 {
        font-size: 1.7rem;
    }

    .about-us-content p {
        font-size: 1.4rem;
    }

    .about-us-content .btn {
        padding: 1.7rem 2.5rem;
        width: 16rem;
        font-size: 1.4rem;
    }        
}


@media (min-width: 1373px) {

    .about-us-content {
        padding: 7.5rem 12rem 7.5rem 6rem;
    }
}

@media (min-width: 1410px) {

    .about-us-content {
        padding: 7.5rem 12rem 7.5rem 6rem;
    }

        .about-us-content h3 {
            font-size: 1.8rem;
        }

        .about-us-content p {
            margin-top: 3rem;
            font-size: 1.5rem;
        }

        .about-us-content .btn {
            font-size: 1.5rem;
            margin-top: 4rem;
            padding: 2rem;
            width: 18rem;
        }
}


@media (min-width: 1440px) {

    .about-us-content p {
        font-size: 1.55rem;
    }

    .about-us-content .btn {
        font-size: 1.6rem;
    }
}


@media (min-width: 1525px) {

    .about-us-content h3 {
        font-size: 2rem;
    }

    .about-us-content p {
        font-size: 1.65rem;
    }
}


@media (min-width: 1605px) {

    .about-us-content {
        padding: 8rem 13rem 8rem 6rem;
    }

    .about-us-content h3 {
        font-size: 2.2rem;
    }

    .about-us-content p {
        font-size: 1.7rem;
    }
}


@media (min-width: 1680px) {

    .about-us-content p {
        font-size: 1.8rem;
    }

    .about-us-content .btn {
        width: 19rem;
        padding: 2.2rem;
        font-size: 1.7rem;
    }
}


@media (min-width: 1731px) {

    .about-us-content {
        padding-right: 15rem;
        padding-left: 7rem;
    }

        .about-us-content p {
            font-size: 1.8rem;
            margin-top: 4rem;
        }

        .about-us-content .btn {
            width: 19rem;
            padding: 2.2rem;
            font-size: 1.7rem;
        }
}

@media (min-width: 1776px) {

    .about-us-content {
    }

        .about-us-content p {
            font-size: 1.8rem;
            margin-top: 3.5rem;
        }

        .about-us-content .btn {
            width: 19rem;
            padding: 2.2rem;
            font-size: 1.7rem;
        }
}


@media (min-width: 1819px) {

    .about-us-content {
        padding-left: 7.5rem;
    }

        .about-us-content p {
            font-size: 1.9rem;
            margin-top: 4rem;
        }

        .about-us-content .btn {
            width: 20rem;
            font-size: 1.8rem;
            margin-top: 4.5rem;
        }
}


@media (min-width: 1915px) {

    .about-us-content {
        padding-left: 8rem;
    }

        .about-us-content h3 {
            font-size: 2.3rem;
        }

        .about-us-content p {
            font-size: 2rem;
            margin-top: 4.5rem;
        }

        .about-us-content .btn {
            margin-top: 4.8rem;
        }
}





/****************************************/

/********** Specialty ************/

.specialty-container {
    padding: 8rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 135rem;
    background: linear-gradient(133deg, rgba(231,235,236,1) 36%, rgba(255,255,255,1) 100%);
}

.menu-list {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.menu-list a {
    font-size: 1.6rem;
    width: 20%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.active, 
.menu-list a:active {
    color: #ff8800;
    border-bottom: 1px solid #ff8800;
}

/* Menu Cards */
.menu-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-card {
    margin-top: 5rem;
    width: 23%;
    text-align: center;
    height: 45rem;
    background-size: cover;
}

.menu-content {
    height: 100%;
}

.hide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    height: 100%;
    color: white;
    opacity: 0;
    transition: opacity 0.2s;
}

.hide:hover {
    opacity: 1;
}

.price {
    font-size: 5rem;
    font-family: 'DM Serif Display';
    font-weight: 500;
}

.rating {
    color: #ffaa4d;
    font-size: 3.5rem;
}

.menu-name {
    font-size: 3rem;
    font-weight: 400;
}

.menu-card .btn {
    width: 14rem;
    height: 5rem;
    font-size: 2rem;
    margin-top: 3rem;
}


/******************************************
BREAKFAST
******************************************/

.breakfast1 {
    background-image: url(img/foods/acai1.jpg);
    background-position-x: center;
}

.breakfast2 {
    background-image: url(img/foods/scram3.jpg);
    background-position-x: center;
}

.breakfast3 {
    background-image: url(img/foods/bagel2.jpg);
    background-position: center;
}

.breakfast4 {
    background-image: url(img/foods/scram1.jpg);
    background-position: bottom;
}

.breakfast5 {
    background-image: url(img/foods/bur2.jpg);
    background-position: center;
}

.breakfast6 {
    background-image: url(img/foods/yog1.jpg);
    background-position: center;
}

.breakfast7 {
    background-image: url(img/foods/food4.jpg);
}

.breakfast8 {
    background-image: url(img/foods/frit1.jpg);
    background-position: bottom;
}

/******************************************
Lunch
******************************************/

.lunch1 {
    background-image: url(img/foods/acai1.jpg);
    background-position-x: center;
}

.lunch2 {
    background-image: url(img/foods/scram3.jpg);
    background-position-x: center;
}

.lunch3 {
    background-image: url(img/foods/bagel2.jpg);
    background-position: center;
}

.lunch4 {
    background-image: url(img/foods/scram1.jpg);
    background-position: bottom;
}

.lunch5 {
    background-image: url(img/foods/bur2.jpg);
    background-position: center;
}

.lunch6 {
    background-image: url(img/foods/yog1.jpg);
    background-position: center;
}

.lunch7 {
    background-image: url(img/food4.jpg);
}

.lunch8 {
    background-image: url(img/foods/frit1.jpg);
    background-position: bottom;
}




/****************************************/

/********** Schedule ************/

.schedule-container {
    display: flex;
    height: 125rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 8rem 10rem;
    position: relative;
}

    .schedule-container::before {
        content: "";
        background-image: url(img/book.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 75%;
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.1;
    }

    .schedule-container > * {
        position: relative;
    }

    .schedule-container img {
        width: 70%;
        object-fit: cover;
        object-position: 70%;
        height: 60rem;
        margin-top: 5rem;
    }

.icon-phone {
    border: 1px solid #ff8800;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff8800;
    margin-top: 5rem;
}

.call {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem;
}

.phone-number {
    color: #ff8800;
    font-family: 'DM Serif Display';
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
}

.schedule-days {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4rem;
}

.day {
    font-size: 1.8rem;
}

.time {
    font-size: 2.5rem;
    font-family: 'DM Serif Display';
    font-weight: 600;
    margin-top: 0.5rem;
}



/****************************************/

/********** Testimonial ************/

.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70rem;
    padding: 8rem 10rem;
    background: rgb(231,235,236);
    background: rgb(231,235,236);
background: linear-gradient(133deg, rgba(231,235,236,1) 5%, rgba(255,255,255,1) 47%);
}

.pfp {
    border-radius: 50%;
    width: 12rem;
    margin-top: 5rem;
}*

.testimonial-container h4 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
}

.testimonial-container span {
    color: rgb(177, 177, 177);
    font-size: 1.3rem;
    font-weight: 500;
}

.testimonial-container .rating {
    color: #ffc107;
}

.testimonial {
    font-size: 2rem;
    font-style: italic;
    width: 80%;
    margin-top: 1rem;
    text-align: center;
    word-spacing: 0.8rem;
}


/****************************************/

/********** Footer ************/

.footer-container {
    height: 20rem;
    padding: 3rem 10rem;
    background: #e7ebec;
}

footer a,
footer p {
    font-size: 1.5rem;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/******************* Footer Left *****************/
.footer-left {
    width: 30rem;
}
    .features li {
        line-height: 3rem;
    }

    .features a,
    .sns a {
        transition: all 0.1s;;
    }

    .features a:hover,
    .sns a:hover {
        color: #FF6F00;
    }


/******************* Footer Center *****************/

.footer-center {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

    .footer-center .logo {
        width: 20rem;
    }

    .footer-center .sns {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1.5rem;
    }
    
    .sns i {
            font-size: 2rem;
        }


/******************* Footer Right *****************/
.footer-right {
    align-self: center;
}

    .footer-right h3 {
        margin-bottom: 1rem;
    }

    .footer-right p {
        line-height: 1.8;
    }