 <!-- About US -->
 <section id="about-us">
    <picture class="image-wrapper">
        <img
        src="/img/_responsive/st1/st1_npnfxx_c_scale,w_1400.webp"
        alt="">
    </picture>
    <div class="article-wrapper">
        <article class="about-us-content">
            <h3>About Us</h3>
            <h2>Discover Our <br>Restaurant Story</h2>
            <p>Urban Eats Deli is a modern and vibrant deli dedicated to providing fresh and delicious food to the urban community. <br>
            We source our ingredients from local farmers and artisans to ensure the highest quality and support our local economy. Our mission is to create a welcoming space where people can enjoy a variety of wholesome meals and refreshing beverages.</p>
            <p>
                At Urban Eats Deli, we believe that good food has the power to bring people together. Our passionate team of culinary experts and friendly staff strive to create an inviting atmosphere where customers can not only enjoy delicious meals but also connect with friends, family, and their community. We take pride in delivering a memorable dining experience that leaves our guests satisfied and inspired to come back for more.
            </p>
            <button class="btn">Discover Menu</button>
        </article>
    </div>
</section>