 <!-- HERO -->
 <section class="hero-container">
    <h1>Welcome <br> 
        To Our Cuisine <br> 
        Restaurant</h1>
    <div class="search-container">
        <input type="search" class="search" placeholder="Search here">
        <button class="btn location">Location</button>
    </div>
    <ul class="sns-count">
        <li>
            <i class="fa-brands fa-facebook-f"></i>
            <h4>252k</h4>
        </li>
        <li>
            <i class="fa-brands fa-twitter"></i>
            <h4>62k</h4>
        </li>
        <li>
            <i class="fa-brands fa-instagram"></i>
            <h4>55k</h4>
        </li>
    </ul>
</section>