<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">
    <link href="../style.css" rel="stylesheet">
    <title>MENUS</title>
</head>
<body>
    <section id="menu" class="specialty-container">
            <!----------------------------------
            LUNCH SECTION
            ------------------------------------>
            <div id="lunch" class="menu-container">
                <!-- Food 1 -->
                <div class="menu-card lunch1">
                    <div class="hide">
                        <h4 class="price">11.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Deli Club Sandwich</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- lunch 2 -->
                <div class="menu-card lunch2">
                    <div class="hide">
                        <h4 class="price">$10.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Mediterranean Wrap</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>

                <!-- lunch 3 -->
                <div class="menu-card lunch3">
                    <div class="hide">
                        <h4 class="price">$12.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Urban Power Bowl</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- lunch 4 -->
                <div class="menu-card lunch4">
                    <div class="hide">
                        <h4 class="price">$14.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Artisanal Charcuterie Platter</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- lunch 5 -->
                <div class="menu-card lunch5">
                    <div class="hide">
                        <h4 class="price">$9.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Smashed Avocado<br>Toast</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- lunch 6 -->
                <div class="menu-card lunch6">
                    <div class="hide">
                        <h4 class="price">$11.49</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Farmers Market Salad</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- lunch 7 -->
                <div class="menu-card lunch7">
                    <div class="hide">
                        <h4 class="price">$10.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Gourmet Grilled Cheese</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                <!-- lunch 8 -->
                <div class="menu-card lunch8">
                    <div class="hide">
                        <h4 class="price">$12.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Urban Veggie Flatbread</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
            </div>

             <!----------------------------------
            Dinner SECTION
            ------------------------------------>
            <div id="Dinner" class="menu-container">
                <!-- Food 1 -->
                <div class="menu-card Dinner1">
                    <div class="hide">
                        <h4 class="price">17.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Grilled Lemon Herb Salmon</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dinner 2 -->
                <div class="menu-card Dinner2">
                    <div class="hide">
                        <h4 class="price">$15.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Quinoa Stuffed Bell Peppers</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>

                <!-- Dinner 3 -->
                <div class="menu-card Dinner3">
                    <div class="hide">
                        <h4 class="price">$12.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Vegan Protein Bowl</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dinner 4 -->
                <div class="menu-card Dinner4">
                    <div class="hide">
                        <h4 class="price">$16.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Grilled Chicken with Quinoa Salad</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dinner 5 -->
                <div class="menu-card Dinner5">
                    <div class="hide">
                        <h4 class="price">$13.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Roasted Vegetable Medley</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dinner 6 -->
                <div class="menu-card Dinner6">
                    <div class="hide">
                        <h4 class="price">$12.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Mediterranean Chickpea Salad</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dinner 7 -->
                <div class="menu-card Dinner7">
                    <div class="hide">
                        <h4 class="price">$13.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Zucchini Noodles with Pesto</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                <!-- Dinner 8 -->
                <div class="menu-card Dinner8">
                    <div class="hide">
                        <h4 class="price">$11.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Baked Stuffed Sweet Potato</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
            </div>


             <!----------------------------------
            Dessert SECTION
            ------------------------------------>
            <div id="Dessert" class="menu-container">
                <!-- Food 1 -->
                <div class="menu-card Dessert1">
                    <div class="hide">
                        <h4 class="price">6.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Decadent Chocolate Brownie</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dessert 2 -->
                <div class="menu-card Dessert2">
                    <div class="hide">
                        <h4 class="price">$7.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Classic New York Cheesecake</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>

                <!-- Dessert 3 -->
                <div class="menu-card Dessert3">
                    <div class="hide">
                        <h4 class="price">$6.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Mixed Berry Parfait</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dessert 4 -->
                <div class="menu-card Dessert4">
                    <div class="hide">
                        <h4 class="price">$7.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Warm Apple Crumble</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dessert 5 -->
                <div class="menu-card Dessert5">
                    <div class="hide">
                        <h4 class="price">$6.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Citrus Lemon Tart</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dessert 6 -->
                <div class="menu-card Dessert6">
                    <div class="hide">
                        <h4 class="price">$7.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Pistachio Ice Cream Sundae</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Dessert 7 -->
                <div class="menu-card Dessert7">
                    <div class="hide">
                        <h4 class="price">$7.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Raspberry Chocolate Mousse</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                <!-- Dessert 8 -->
                <div class="menu-card Dessert8">
                    <div class="hide">
                        <h4 class="price">$7.49</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Caramelized Banana Bread Pudding</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
            </div> 

             <!----------------------------------
            Dessert SECTION
            ------------------------------------>
            <div id="Drinks" class="menu-container">
                <!-- Food 1 -->
                <div class="menu-card Drinks1">
                    <div class="hide">
                        <h4 class="price">5.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Cold-Pressed Juice</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Drinks 2 -->
                <div class="menu-card Drinks2">
                    <div class="hide">
                        <h4 class="price">$4.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Iced Matcha Latte</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>

                <!-- Drinks 3 -->
                <div class="menu-card Drinks3">
                    <div class="hide">
                        <h4 class="price">$3.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Refreshing Lemonade</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Drinks 4 -->
                <div class="menu-card Drinks4">
                    <div class="hide">
                        <h4 class="price">$6.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Signature Smoothie</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Drinks 5 -->
                <div class="menu-card Drinks5">
                    <div class="hide">
                        <h4 class="price">$4.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Iced Cold Brew Coffee</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Drinks 6 -->
                <div class="menu-card Drinks6">
                    <div class="hide">
                        <h4 class="price">$3.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Herbal Infusion</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- Drinks 7 -->
                <div class="menu-card Drinks7">
                    <div class="hide">
                        <h4 class="price">$4.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Sparkling Fruit Spritzer</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                <!-- Drinks 8 -->
                <div class="menu-card Drinks8">
                    <div class="hide">
                        <h4 class="price">$6.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Crafted Mocktail</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
            </div>

    </section>



</body>
</html>