<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@400;500;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css"/>
    
    <link href="../style.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    

    <!----------------------------------
            Specialty
         ---------------------------------->
         <section id="menu" class="specialty-container">
            <h3>Order Online Now</h3>
            <h2>Our Specialty Cuisine</h2>
            <ul class="menu-list">
                <a href="#breakfast" class="active">
                    <li>Breakfast</li>
                </a>
                <a href="#lunch">
                    <li>Lunch</li>
                </a>
                <a href="#dinner">
                    <li>Dinner</li>
                </a>
                <a href="#dessert">
                    <li>Dessert</li>
                </a>
                <a href="#drinks">
                    <li>Drinks</li>
                </a>
            </ul>

            <!----------------------------------
            BREAKFAST SECTION
            ------------------------------------>
            <ul id="lunch" class="menu-container responsive">

                <!-- Breakfast 1 -->
                <li class="menu-card breakfast1">
                    <div class="hide">
                        <h4 class="price">$9.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Bowl of Acai Bliss</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>
                
                <!-- breakfast 2 -->
                <li class="menu-card breakfast2">
                    <div class="hide">
                        <h4 class="price">$10.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Urban Scramble</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>

                <!-- breakfast 3 -->
                <li class="menu-card breakfast3">
                    <div class="hide">
                        <h4 class="price">$12.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Bagel with Lox</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>
                
                <!-- breakfast 4 -->
                <li class="menu-card breakfast4">
                    <div class="hide">
                        <h4 class="price">$8.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Breakfast Croissant</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>
                
                <!-- breakfast 5 -->
                <li class="menu-card breakfast5">
                    <div class="hide">
                        <h4 class="price">$9.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Vegan Burrito</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>
                
                <!-- breakfast 6 -->
                <li class="menu-card breakfast6">
                    <div class="hide">
                        <h4 class="price">$7.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Greek Yogurt Parfait</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>
                
                <!-- breakfast 7 -->
                <li class="menu-card breakfast7">
                    <div class="hide">
                        <h4 class="price">$14.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Egg and Avocado Toast</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>

                <!-- breakfast 8 -->
                <li class="menu-card breakfast8">
                    <div class="hide">
                        <h4 class="price">$14.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Vegetable Frittata</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </li>
            </ul>
            
         </section>

         <ul class="test">
            <li>ABC</li>
            <li>ABC</li>
            <li>ABC</li>
            <li>ABC</li>
            <li>ABC</li>
         </ul>














         <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
         <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
         <script type="text/javascript" src="../slick/slick.js"></script>
          
          <script type="text/javascript">
            $('.responsive').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 1,
                responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    infinite: true,
                    dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                    slidesToShow: 2,
                    slidesToScroll: 1,
                    dots: false
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    dots: false

                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
                ]
            });
          </script>

         <script src="https://kit.fontawesome.com/8408b4a13c.js" crossorigin="anonymous"></script>
     </body>
     </html>