<!----------------------------------
            Schedule
         ---------------------------------->
         <section id="book-us"class="schedule-container">
            <h3>Book Table</h3>
            <h2>Opening Hours</h2>
            <div class="icon-phone">
                <i class="fa-solid fa-phone"></i>
            </div>
            <p class="call">Call Now</p>
            <p class="phone-number">(555) 123-4567</p>
            <div class="schedule-days">
                <div class="schedule-content">
                    <p class="day">Monday to Tuesday</p>
                    <p class="time">10:00 am ~ 09:00 pm</p>
                </div>
                <div class="schedule-content">
                    <p class="day">Friday to Sunday</p>
                    <p class="time">09:00 am ~ 10:00 pm</p>
                </div>
            </div>
            <img src="img/book3.jpg" alt="bowl of fruits yogurt">
        </section>