<!----------------------------------
            Specialty
         ---------------------------------->
         <section id="menu" class="specialty-container">
            <h3>Order Online Now</h3>
            <h2>Our Specialty Cuisine</h2>
            <ul class="menu-list">
                <a href="#breakfast" class="active">
                    <li>Breakfast</li>
                </a>
                <a href="#lunch">
                    <li>Lunch</li>
                </a>
                <a href="#dinner">
                    <li>Dinner</li>
                </a>
                <a href="#dessert">
                    <li>Dessert</li>
                </a>
                <a href="#drinks">
                    <li>Drinks</li>
                </a>
            </ul>

            <!----------------------------------
            BREAKFAST SECTION
            ------------------------------------>
            <div id="lunch" class="menu-container">
                <!-- Food 1 -->
                <div class="menu-card breakfast1">
                    <div class="hide">
                        <h4 class="price">$9.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Bowl of Acai Bliss</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- breakfast 2 -->
                <div class="menu-card breakfast2">
                    <div class="hide">
                        <h4 class="price">$10.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Urban Scramble</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>

                <!-- breakfast 3 -->
                <div class="menu-card breakfast3">
                    <div class="hide">
                        <h4 class="price">$12.49</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Bagel with Lox</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- breakfast 4 -->
                <div class="menu-card breakfast4">
                    <div class="hide">
                        <h4 class="price">$8.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Breakfast Croissant</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- breakfast 5 -->
                <div class="menu-card breakfast5">
                    <div class="hide">
                        <h4 class="price">$9.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Vegan Burrito</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- breakfast 6 -->
                <div class="menu-card breakfast6">
                    <div class="hide">
                        <h4 class="price">$7.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Greek Yogurt Parfait</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                
                <!-- breakfast 7 -->
                <div class="menu-card breakfast7">
                    <div class="hide">
                        <h4 class="price">$14.99</h4>
                        <p class="rating">★★★★★</p>
                        <h4 class="menu-name">Egg and Avocado Toast</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
                <!-- breakfast 8 -->
                <div class="menu-card breakfast8">
                    <div class="hide">
                        <h4 class="price">$14.99</h4>
                        <p class="rating">★★★★</p>
                        <h4 class="menu-name">Vegetable Frittata</h4>
                        <button class="btn">Order Now</button>
                    </div>
                </div>
            </div>

            
         </section>